@import './variables';
.app-form {
  display: flex;
  flex-direction: column;
  width: 250px;

  h2.title {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;

    .icon {
      font-size: 26px;
      margin-bottom: 10px;
      color: $blue_color;
    }
  }

  .form-name {
    margin: 0 auto;
    position: relative;

    .clear-text {
      position: absolute;
      top: 0;
      right: 6px;
      cursor: pointer;

      .btn-clear-text::before {
        content: '\00d7';
        color: $gray;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
      }
    }

    ::ng-deep {
      .mat-form-field {
        &.mat-form-field-invalid {
          .mat-form-field-label {
            color: $red_error !important;
          }
        }

        .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .mat-form-field-flex {
          border-radius: 0;
          background-color: #fff;
          border: 2px solid $border-color;
          padding: 4px .75em 0 10px;

          .mat-form-field-infix {
            width: 190px;
            padding: .25em 0 7px 0;

            .mat-form-field-label-wrapper {
              font-family: 'Montserrat', sans-serif;

              .mat-form-field-label {
                color: $gray;
              }
            }
          }
        }

        .mat-form-field-underline {
          display: none;
        }
      }
    }
  }

  .mat-error {
    font-size: 75%;
    margin-left: 25px;
    margin-right: 20px;
    word-wrap: break-word;
  }

  .btn-confirm {
    height: 40px;
    padding: 0;
    margin-top: 32px;
    background: $blue_color;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;

    &:disabled {
      background: $gray;
    }
  }
}
