$gray_background: #e0e0e0;
$blue_color: #0083b4;
$border-color: #d2d3d4;
$gray: #6c6f71;
$gray2: #858585;
$gray3: #D8D8D8;
$gray4: #E8ECEF;
$card-background: rgba(232,236,239,0.15);
$black: #212528;
$red_error: #f44336;
$green: #00ff00;
